/*===========================================
Geral
=============================================*/
html{
    font-family: 'Noto-Serif-Display', 'Atkinson Hyperlegible', 'IBM Plex Sans Thai', 'Asset';
     font-size: calc(12px + 0.390625vw);
     background: #2C3E50;
     color: #ffffff;
}


/*============================================
Header
==============================================*/

/*==============================================
Banner
================================================*/
section.banner{
    text-align: center;
    margin: 2vw 4vw 2vw 4vw;
     border-bottom: 1px solid rgb(202, 202, 202);
}
section.banner img{
     width: 40%;
}
section.banner h1{
  font-family: "Noto Serif Display", serif;
  font-weight:bold;
  font-size: xx-large;
  margin: 0vw 4vw 4vw 4vw;
}
section.banner span {
    font-style: italic;
}
section.banner p {
    margin: 2vw 4vw 4vw 4vw;
}
section.banner button{
    background: #A31D1D;
    color: #ffffff;
    border: none;
    font-size: 1rem;
    padding: 10px 10px 10px 10px;
    border-radius: 10vw;
}
/*========================================
Introdução
==========================================*/
section.introducao {
    margin: 5vw 2vw 2vw 4vw ;
    display: flex;
}
section.introducao h2{
    font-size: xx-large;
    color: #D1D1D1;
  text-shadow:  2px 2px 0 #000,
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
 
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;

}
section.introducao img{
    width: 100%;
}
/*========================================
MAPA DO SITE
==========================================*/
section.mapa{
    margin: 2vw 4vw 2vw 4vw;
    text-align: center;
}
section.mapa h1{
    font-size: xx-large;
    color: #D1D1D1;
    margin: 0 0 0 10px;
    text-shadow:  2px 2px 0 #540B24,
    1px 1px 0 #540B24,
    1px 1px 0 #540B24,
    1px 1px 0 #540B24;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: italic;
}
section.mapa ul {
    text-align: left;
    background: #7E1537;
    width: 537px;
    height: 307px;
    font-family: "IBM Plex Sans Thai", sans-serif;
   font-weight: 600;
   font-style: normal;

}
section.mapa ul a {
    text-decoration: none;
    color: #ffffff;
    font-size: larger;
    line-height: 3rem;
    font-weight: bold;
}
section.mapa div h3{
     font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: x-large;
}

section.mapa div ul {
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #540B24;
    text-align: center;
    line-height: 6rem
}